body {
    background-color: #181818;
    color: white;
}

#logo {
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}
    .mner {
            visibility: hidden;
            height: 0px;
            width: 0px;
        }
h2 {
    text-align: center;
    font-size: 9vmin;
    color: #8bf;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
    margin-bottom: 0;
}


/* Typewriter effect 1 */

@keyframes typing {
    0.0000%,
    27.3488% {
        content: "";
    }
    1.1395%,
    26.2093% {
        content: "a";
    }
    2.2791%,
    25.0698% {
        content: "ar";
    }
    3.4186%,
    23.9302% {
        content: "aro";
    }
    4.5581%,
    22.7907% {
        content: "arou";
    }
    5.6977%,
    21.6512% {
        content: "aroun";
    }
    6.8372%,
    20.5116% {
        content: "around";
    }
    7.9767%,
    19.3721% {
        content: "around.";
    }
    9.1163%,
    18.2326% {
        content: "around..";
    }
    10.2558%,
    17.0930% {
        content: "around...";
    }
    30.7674%,
    51.2791% {
        content: "";
    }
    31.9070%,
    50.1395% {
        content: "y";
    }
    33.0465%,
    49.0000% {
        content: "yo";
    }
    34.1860%,
    47.8605% {
        content: "you";
    }
    35.3256%,
    46.7209% {
        content: "you ";
    }
    36.4651%,
    45.5814% {
        content: "you a";
    }
    37.6047%,
    44.4419% {
        content: "you ar";
    }
    38.6977%,
    43.2093% {
        content: "you are";
    }
    39.8372%,
    42.0698% {
        content: "you are.";
    }
    40.9767%,
    41.9302% {
        content: "you are..";
    }
    41.1163%,
    40.7907% {
        content: "you are...";
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: currentcolor;
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
    border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
    border-right: 0;
}

@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }
    @keyframes sequencePopup {
        0%,
        100% {
            content: "around.";
        }
        30% {
            content: "way you are.";
        }
    }
    .typewriter::before {
        content: "around";
        animation: sequencePopup 12s linear infinite;
    }
}

#name {
    text-align: center;
    font-size: 350%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-container {
    margin-left: 27.5%;
    margin-top: 100px;
    font-family: Lato, sans-serif;
}

.btn {
    border: 0px;
    margin-left: 5.5%;
    border-style: solid;
    border-width: 0px;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
    border-color: #181818;
    background-color: #181818;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
}

.btn:hover {
    color: rgb(158, 158, 158);
}

.btncontainer {
    margin-left: 30%;
}

@keyframes blink_ {
    from {
        background-color: white;
    }
    to {
        background-color: #181818;
    }
}

.dash {
    float: left;
    margin-left: 9%;
    width: 10px;
    height: 5px;
    background-color: white;
    animation-name: blink_;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#_1 {
    margin-left: 36%;
}

#-b {
    margin-left: 6.5%;
}

#l {
    margin-left: 6%;
}

#heading {
    font-size: 350%;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-left: 5%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.project {
    border-radius: 1%;
    border-color: #ffffff;
    border-style: dashed;
    border-width: 3px;
    width: 55%;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 3%;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #181818;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

 ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}

.title_and_btns {
    margin-left: 5%;
    color: white;
    font-size: large;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title_project {
    display: inline-block;
    float: left;
    position: relative;
}

.title_project::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.title_project:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#head-dash {
    margin-left: 21%;
    margin-top: -4%;
}


/* Tooltip Container */

.tooltip {
    margin-left: 55%;
    margin-top: 3%;
    position: relative;
    display: inline-block;
}


/* Tooltip text */

.tooltip .tooltiptext {
    margin-top: -350%;
    margin-left: -300%;
    border-radius: 1%;
    border-color: #ffffff;
    border-style: dashed;
    border-width: 2px;
    visibility: hidden;
    width: 120px;
    background-color: #181818;
    color: #fff;
    text-align: center;
    font-size: small;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.github-logo {
    height: 25px;
    width: 25px;
}

.project_info_con {
    margin-left: 3%;
    margin-right: 3%;
}

.project_info {
    color: white;
    word-spacing: 5px;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 3px;
}

.tooltiptext- {
    margin-left: 2%;
    margin-top: 1%;
    color: white;
    font-size: large;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 1%;
    border-color: #ffffff;
    border-style: dashed;
    border-width: 2px;
    width: 200px;
    background-color: #181818;
    color: #fff;
    text-align: center;
    font-size: small;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.views {
    margin-right: 2%;
}

@media screen and (max-width:700px) {
    .dash {
        visibility: hidden;
    }
}

@media screen and (max-width:850px) {
    .btn {
        margin-left: 0%;
    }
    .btn-container {
        margin-left: 10%;
        text-align: center;
        align-items: center;
    }
    .dash {
        visibility: hidden;
    }
}

@media screen and (max-width: 1050px) {
    .btn {
        margin-left: 0%;
    }
    .btn-container {
        margin-left: 35%;
        text-align: center;
        align-items: center;
    }
    .dash {
        visibility: hidden;
    }
}

@media screen and (max-width: 1400px) {
    .btn {
        float: left;
        margin-left: 0%;
    }
    .dash {
        visibility: hidden;
    }
    .c_b_1 {
        visibility: hidden;
    }
}
.mner {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    /* height: 30px; */
    width: 100%;
    /* background: #999; */
}

.alert {
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: rgb(184, 184, 184);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: rgb(54, 54, 54);
}
